/* BEGIN  GENERAL STYLES */

@import url('https://fonts.googleapis.com/css?family=Dosis');

* {
  font-family: 'Dosis', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  transition: all 0.3s;

}
  
body {
    margin:0px;
}
  
section {
    padding: 10px 5% 10px 5%;
    text-align: justify;
    position: relative;
} 

.section_title {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

  
section:nth-of-type(odd) {
    background :rgba(255,255,255, 0.1);
    color: rgb(90, 90, 90);
}
  
section:nth-of-type(odd)  .arrow_next a  {
    color: rgb(90, 90, 90);

}
  
section:nth-of-type(even) {
    color : rgb(255,255,255);
    background-color: rgb(90, 90, 90);

}
  
section:nth-of-type(even)  .arrow_next a {
    color : rgb(255,255,255);
}

/* END  GENERAL STYLES */
  
/* BEGIN NAVIGATION */

.arrow_next  {
    margin-left: auto;
    margin-right: auto;
    color:rgb(255, 255, 255);
    text-align: center; 

}
  
.home_arrow {
    position:fixed;
    bottom:0;
    right:0;
    color: rgb(0, 128, 255);
    padding-bottom: 10px;
    padding-right: 10px;
}
  
nav {
    width:100%;
    height: 0px;
    top:0;
    position :fixed;
    left:0;
}  
  
.menu_root {
    padding : 10px 10px;
    float: left;
}
  
.menu_root i {
    color: rgb(0, 128, 255);    
}
  
.menuItem {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: rgb(255,255,255);
    border-color: rgb(224, 224, 224) ;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menuItem hr {
    border-color: rgb(224, 224, 224) ;
    padding:0;
    margin : 0;
}

.menuItem a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0) ;    
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    padding: 5px 10px 5px 10px;
}

.menuItem i {
  color: rgb(0, 128, 255);    
  padding : 0 5px 0 0;
}
  
.menuItem a:hover {
    background-color: rgb(224, 224, 224) ;
}
  
.menu_root:hover .menuItem  {
    display:block;
}
  
/* END NAVIGATION */  
  
/* BEGIN INTRO */ 

.parallax {
    width:100%;
    background-image: url("../img/background1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:auto;
    border-style:solid;
    border-color:rgba(90, 90, 90,0);
}

#intro_frame {
    height:auto;
    margin-bottom: 100px;
}

.intro {
    position: relative;
    display: flex;
    justify-content:center;
    align-content: center;
    margin-left: 20%;
    margin-right: 20%;
    -ms-transform: translateY(50px); /* IE 9 */
    -webkit-transform: translateY(50px); /* Safari */
    transform: translateY(50px);
    color: rgb(255, 255, 255);
    background: rgba(90, 90, 90, 0.95) ;
}
  
.photo {
    margin: auto;
    padding: 10px 10px 20px 10px;
    border: 1px solid rgb(191, 191, 191);
    background-color: white;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Safari */
    transform: rotate(7deg);
}
 
.intro_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items :center;
}
  
.intro_content > div {
    padding:5px;
}
  
.intro_quote, .intro_name {
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    text-align: center; 
    width:100%;
}
    
#author{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
  
.txt_intro, .projectDescription, hobbies p,  #linksAndRefs p {
    font-weight:bold;
    text-align: justify;
    margin: 0 10px 0 10px; 
}

.profil {
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-content: center;
}
  
.profil a {
    color: rgb(255, 255, 255);
    margin:5px;
}
  
  .profil a:hover {
    color:rgb(0,128,255);
}
  
/* END INTRO*/

/*  BEGIN BACKGROUND TIMELINE */

.timeline {
    position:relative;
    display: flex;
    width:90%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
  
.timeline > div {
  margin: 5px;
  padding: 5px;
  width:calc(100% / 6);
  text-align:center;
}
  
#dates  {
  background: linear-gradient(to bottom,  rgb(255,255,255,0) 45%, rgb(0,128,255) 50%, rgba(255,255,255,0) 55%);
}     
  
.date {
    border-style:solid;
    border-color: rgb(0,128,255);
    background-color : rgb(255,255,255);
    box-shadow : 0 0 7px rgb(0,128,255);
    margin: 0 auto;
    width:10px;
    height:10px;
    border-radius:50%;
    color: rgb(0,128,255);
    z-index: 0;
}

.date:after {
    content:attr(data-date);
    display:inline-block;
    position:relative;
    top:0%;
    left:-100%;
    font-weight:bold;
    color: rgb(0,128,255);
}
  
.education:hover .title, .job:hover .title {
    -ms-transform: scale(1.2,1.2); /* IE 9 */
    -webkit-transform: scale(1.2,1.2); /* Safari */
    transform: scale(1.2,1.2);
}

.education:hover .info, .job:hover .info {
    display:inline-block;
    top: 100%;
    -ms-transform: translate(-50%); /* IE 9 */
    -webkit-transform: translateX(-50%); /* Safari */
    transform: translateX(-50%);    
}
  
.education .title, .job .title, .info .subtitle {
    font-weight:bold;
    margin:5px 0;
}
  
.education .title:after {
    font-family: FontAwesome;
    white-space: pre;
    content: "\A\f19d";
}
  
.job .title:before {
    font-family: FontAwesome;
    content: "\f2bb\A";
    white-space: pre;
}
  
.info {
    display:none;
    position:absolute;
    padding:0 5px;
    background: rgb(255,255,255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    border-radius:5px;
    left:auto;
    width:calc(100% / 6);
    color: rgb(90, 90, 90);
    z-index: 1 ;    
}
  
.info:before {
    font-family: FontAwesome;
    content: "\f05a\A";
    white-space: pre;
    color:rgb(0,128,255);
    padding : 10px 0 0 0;
}
  
/* END BACKGROUND TIMELINE */

/* BEGIN ACHIEVEMENTS  */

#achievementsContent {
    display:flex;
    flex-direction:column;
}

.achievementsContainer, .hobbiesContainer, .linksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.achievements, .hobbies,  .links {
    position: relative;
    margin: 10px;
    padding : 5px 10px 5px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    border-radius:5px;
}

.achievements{
    width: 33%;
}

.achievements ul {
    list-style-type:none;
    display: inline; 
}

.achievements .title {
    list-style-type:none;
    display: inline-block;
}

.achievements .Title::before {
    font-family: FontAwesome;
    color:rgb(0,192,255);
    display: inline-block;
    padding: 0 5px 0 5px ;
}

.achievements li:hover .Title {
    color:rgb(0,192,255);
    cursor: pointer;
    transition: 0ms;
}

.achievements .achievement .Title::before {
    content: "\f058";
}

.achievements .activity .Title::before {
    content: "\f164";
}

.achievements .skill .Title::before {
    content: "\f0ad";
}

.achievements .Detail {
    display:none;
}

#achievementDetailsContainer {
    display:none;
}

#achievementDetails {
    box-shadow: none;
    text-align: center;
    left:100%;
 }

#achievementDetails #Title {
    font-size: 20px;
    text-align: center;
    font-style: italic; 
}

#achievementDetails #Detail {
    text-align: justify;
    line-height: 1em;
}

#achievementDetails #Detail li::before {
    font-family: FontAwesome;
    color:rgb(0,192,255);
    padding: 0 5px 0 5px ;
    content: "\f005"; 
}

.arrow_down {
    width: 0; 
    height: 0;
    margin: 0;
    padding: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(0,128,255);  
    display: inline-block;
}

#achievementDetailsLine {
    height: 2px; 
    margin : 0 10px 0 10px;
    border:0;
    background-image: linear-gradient(to right, rgba(0,128,255,0.2), rgb(0,128,255),rgba(0,128,255,0.2));
}

/* END ACHIEVEMENTS  */

/* BEGIN PROJECT */

.projectThumbnails {
    display:flex;
    flex-direction: row;
    margin:0;
}

.projectThumbnail {
    margin : 0 2px 0 0 ;     
    padding : 10px;
    border-radius:5px 5px 0 0 ;
    padding : 10px;
    font-size:20px;
    float:left;
    width:15%;
    margin:0;
    background-color: rgb(242, 242, 242);
    transition:0s;
}
.projectThumbnail:before {
    font-family: FontAwesome;
    content: "\f14e";
}
.projectThumbnail:hover {
    cursor: pointer;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 10px 0 rgba(0, 0, 0, 0.9);
}

.selProjectThumbnail {
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 10px 0 rgba(0, 0, 0, 0.9);
    font-weight : bold;
}

.projectSubject {
    display:none;
    text-align: justify;
    margin: 0 10px 0 10px;     
}

#projectDescription {
    display:inline-block;
}

.projectContainer {
    margin:0;
    padding : 20px;
    height:500px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.9);    
    border-radius:0 0 5px 5px;
    font-weight: bolder;
}

/*END PROJECT */

/* BEGIN LINKS*/

.linkContentContainer {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    padding:5px;
    width:50%;
 }

.linksHeader {
  justify-content: flex-start;
}

.linksHeader p {
    font-size:20px;
    padding : 0 10px;
}

.links {
    height:500px;
    overflow-y: auto;
    background-color: rgb(255, 255, 255);
}

#linksTable {
    border-collapse: collapse;
    width: 100%;
    border-left: none;
    border-right: none; 
}

#linksTable tr{
    width:100%;
}    
#linksTable td, #linksTable th {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
    flex-wrap: wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.linkitem {
    color : rgb(90, 90, 90);
    background-color: rgb(255, 255, 255);    
}

.linkitemDark {
    color : rgb(90, 90, 90);
    background-color: rgb(242, 242, 242);
}

#linksTable tr:hover {
    background-color: rgb(200, 200, 200);
}

#colLink {
    width: 30%;
}

#colLinkDescription {
    width: 70%;
}

/* END LINKS*/

/* BEGIN HOBBIES */

.hobbiesContainer {
    align-items: center;
}

/* BEGIN  SLIDESHOW */

.hobbies {
    width:50%;
}

.slideshowContainer * {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    display: flex;
}

.slideshowContainer {
    position:relative;
    width:100%;
}

#hobbiesList {
    box-shadow: none;
}

#slideshowImg, #slideshowVideo, #slideshowAudio { 
    display: none;
    width:100%; 
    object-fit: fill;
}

#slideshowAudio {
    position:absolute;
    width:100%;
    top:0;
    right:0;
}

.slideshowThumbnail {
    cursor: pointer;
    opacity: 0.6;
    width:100%;
    height:100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    padding: 16px;
    margin-top: -50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
  
.imageCategory {
    color: rgb(0,0,0);
    font-size: 12px;
    font-weight: bold;
    padding: 8px 12px;
    background-color: rgba(255,255,255,0.8); 
    position: absolute;
    top : 0;
}

.descriptionContainer {
    text-align: center;
    padding: 2px 16px;
}   

#imageDescription {
    font-size:12px;
    text-align: left;
}

.slideshowRow:after {
    content: "";
    display: table;
    clear: both;
}
  
.slideShowCol {
    float: left;
    width: 10%;
}
  
.active, .slideshowThumbnail:hover {
    opacity: 1;
}

/* END  SLIDESHOW */

/* END HOBBIES */

/*BEGIN CONTACT INFOS*/

#contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#contactInfo > div * { 
    color : rgb(255,255,255);
    margin:0 10px;
    text-align: center;
}

/* END CONTACT INFOS */

/***** MEDIA QUERIES SCREEN < 800 px **********************************************************************/

@media screen and (max-width: 800px) {

/* BEGIN  GENERAL STYLES */

* {
  font-size: 12px;
}
   
section {
    padding: 10px ;
} 

.section_title {
    font-size: 16px;
}
 
/* END  GENERAL STYLES */
    
/* BEGIN INTRO */ 

.intro {
    flex-direction: column;
    -ms-transform: translateY(50px); /* IE 9 */
    -webkit-transform: translateY(50px); /* Safari */
    transform: translateY(50px);
}
  
.photo {
    padding: 5px 5px 10px 5px;
}
   
.intro_quote, .intro_name {
    font-size: 18px;
}
    
#author{
    font-size: 14px;
}
  
.txt_intro, .projectDescription, hobbies p,  #linksAndRefs p {
    margin: 0 5px 0 5px; 
}

.profil {
    flex-direction: column;
}
    
/* END INTRO*/
  
/*  BEGIN BACKGROUND TIMELINE */

#timelineContainer {
    display:flex;
    flex-direction:row;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    width:70%;
}

.timeline {
    flex-direction:column;
    width:calc(100%/3);
    height:auto;
}

.timeline > div {
    margin: 0px;
    padding: 0px;
    width:100%;
    height:100%;
}

#dates  {
    background: linear-gradient(to right,  rgb(255,255,255,0) 49%, rgb(0,192,255) 50%, rgba(255,255,255,0) 51%);
} 

.date {
    margin: 0 auto 50px auto ;   
}

.date:after {
    color: rgb(0,96,255);
}
  
.education:hover .title, .job:hover .title {
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Safari */
    transform:none;    
}

.education:hover .info, .job:hover .info {
    top: auto;
}

.education .title:before {
    font-family: FontAwesome;
    content: "\f19d";
}

.education .title:after {
    content: none;
}
  
.job .title:before {
    content: "\f2bb";
}
  
.info {
    width:100%;
}

/* END BACKGROUND TIMELINE */

/* BEGIN ACHIEVEMENTS  */

#achievementsContent {
    flex-direction: row;
}

.achievementsContainer, .hobbiesContainer, .linksContainer {
    margin : 1%; 
    flex-direction: column;
    align-content: center;
    width: 100%;
}

.achievements, .hobbies, .links, .linksHeader {
    width: auto;
    justify-content: center;
    margin: 2px 0;
}

#achievementDetailsContainer {
    height:auto;
    width:100%;
}

#achievementDetails {
    left:0;
    background-color: rgb(90,90,90);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    border-radius:5px;
    padding : 5px ;
}

#achievementDetails #Title {
    font-size: 14px;
}

#achievementDetailsLine {
    display:none;
}

/* END ACHIEVEMENTS  */

/* BEGIN PROJECT */

.projectThumbnails {
    flex-direction: row;
}

.projectThumbnail {
    font-size:14px;
}

.projectThumbnail:before {
    display: none;
}

.projectContainer {
    height:auto;
    width:auto;
    overflow: auto;
}

/*END PROJECT */

/* BEGIN LINKS*/

.linkContentContainer { 
    width:auto;
}

.linksHeader p {
    font-size:14px;
}

/* END LINKS*/

.hobbies {
    width:auto;
}

/* BEGIN HOBBIES */

/* BEGIN  SLIDESHOW */

.imageCategory {
    font-size: 10px;
    padding: 4px 6px;
}

.descriptionContainer {
    padding: 2px 8px;
}   

#imageDescription {
    font-size:10px;
}
 
/* END  SLIDESHOW */

/* END HOBBIES */

/*BEGIN CONTACT INFOS*/

#contactInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#contactInfo > div * { 
    color : rgb(255,255,255);
    margin:0 10px;
    text-align: center;
}

/* END CONTACT INFOS */

}
/***** END MEDIA QUERIES < 800 px ****/
