/* Polices */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');  
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    font-style: normal;
    font-weight: 600;
    src: local('Raleway SemiBold'), local('Raleway-SemiBold'), url(http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwPIsWqZPAA.woff2) format('woff2');
}

@font-face {
    font-family: 'Raleway-ExtraBold';
    font-style: normal;
    font-weight: 800;
    src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url(http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwIouWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway-Black';
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Black'), local('Raleway-Black'), url(http://fonts.gstatic.com/s/raleway/v12/1Ptrg8zYS_SKggPNwK4vWqZPAA.woff2) format('woff2');
}

* {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    color:rgb(48,48,48);

}

/* Navigation */
nav {
/*background-color: #061b3d;*/
    background: linear-gradient(to top right , rgb(0, 0, 0) 50%, rgb(65, 105, 225));
    width:100%;
    min-height: 50px;
    height:auto;
    position: fixed;
    left:0px;
    top:0px;
    z-index :1000;
}
.navMenu {
    list-style-type: none;

}
.navItem {
    color:darkgrey;
    display: inline-block;
    float: right;
    font-family: Raleway-ExtraBold, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    padding : 10px 10px;
}

.navItem:hover {
    color:white;
}

body, html {
    height: 100%;
}

.img_intro {
    width: 100%;
    height:auto;
    max-height: 600px;   
    position: static ;
}

section {
    padding: 10px;
} 

.logo {
    height:auto;
    max-height: 50px;
    float: left;
    position: fixed;
}

.photo {
    width:100px;
    height:100px;
    border-radius: 100px;
    z-index :1;
    clear: both;
}

/* BEGIN Timeline */


.timeline {
    width:80%;
    min-width:1024px;
    height: 25px;
    list-style: none;
    text-align: justify;
    position: relative;
    padding:20px;
    margin :100px;
    background: linear-gradient(to bottom,  rgb(255,255,255) 45%, rgb(65, 105, 225) 50%, rgb(255,255,255) 55%);
    z-index:0;
}


.timeline:after {
    display: inline-block;
    content: ""; 
    width: 100%;
}

.timeline li {
    text-align: center;
    display: inline-block;
    width:40px;
    padding:5px;
    background:rgb(0, 0, 128);
    position: relative;
    border-radius:10%;
    color: rgb(255,255,255);
}

.timeline li:hover {
    border:
}

.education, .job {
    display: block;
    width: 400%;
    position: absolute;
    left:-100%;
    text-align: center;
    border-radius: 10%;
}

.education {
    top: -150%;
}
.job {
    top:150%;
}

.info {
    display:none;
    width:200px;
    position:absolute;
    left:0px;
    border-radius: 10%;
    padding:10px;
    font-size:10px;
    background: linear-gradient(rgba(44,181,255,0.4) , rgb(255,255,255) 10% ,  rgb(255,255,255) 90% , rgba(44,181,255,0.4) );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.education:hover .info {
    display:inline-block;
    bottom:100%;
    /*left:-100%;*/
}

.job:hover .info {
    display:inline-block;
    top: 100%;
    /*left:-100%;*/
}

.title, .subtitle {
    font-weight:bold;
}

/* END Timeline */

.education .title:before {
    font-family: FontAwesome;
    content: "\f19d";
}

.job .title:before {
    font-family: FontAwesome;
    content: "\f2bb";
}
