/* BEGIN  GENERAL STYLES */

* {
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  transition: all 0.3s;
}
  
body, html {
    margin:0px;
}
  
section {
    padding: 20px 150px 20px 150px;
    text-align: justify;
    position: relative;
} 

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}
  
/* END  GENERAL STYLES */
  
/* BEGIN NAVIGATION */
  
  
.arrow_next  {
    margin-left: auto;
    margin-right: auto;
    color:rgb(255, 255, 255);
    text-align: center; 

}
  
.home_arrow {
    position:fixed;
    bottom:0;
    right:0;
    color: rgb(0, 128, 255);
    padding-bottom: 10px;
    padding-right: 10px;
}
  
nav {
    width:100%;
    height: 0px;
    top:0;
    position :fixed;
    left:0;
}  
  
.music, .menu_root {
    display:inline-block;
    padding : 10px 10px;
} 
  
.music {
  float: right;
}

.menu_root {
    float: left;
}
  
.menu_root i {
    color: rgb(0, 128, 255);    
}
  
.menuItem {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: rgb(255,255,255);
    border-color: rgb(224, 224, 224) ;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menuItem hr {
    border-color: rgb(224, 224, 224) ;
    padding:0;
    margin : 0;
}

.menuItem a {
    display: block;
    text-decoration: none;
    color: rgb(0, 0, 0) ;    
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    padding: 5px 10px 5px 10px;
}

.menuItem i {
  color: rgb(0, 0, 0) ;    
  padding : 0 5px 0 0;
}
  
.menuItem a:hover {
    background-color: rgb(224, 224, 224) ;
}
  
  .menu_root:hover .menuItem  {
    display:block;
}
  
/* END NAVIGATION */  
  
/* BEGIN INTRO */ 
  
.parallax {
    min-height: 600px;
    width:100%;
    background-image: url("../img/background1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.intro_frame {
    position : relative;
    min-height:fit-content;
    height:100%;
}
  
.intro {
    position: relative;
    display: flex;
    width:60%;
    min-width:300px;
    left:20%;
    top:50px;
    color: rgb(255, 255, 255);
    background: rgba(75, 70, 70, 0.95) ;
}
  
.intro * {
    box-sizing: border-box;
}
  
.photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100%;
}
  
.intro_content {
    position: relative;
    display: flex;
    flex-direction: column;
}
  
.intro_content > div {
    height: auto;
    padding:20px;
    margin-top: auto;
    margin-bottom: auto;
}
  
  .intro_quote {
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    text-align: center; 
    height: 50%;
}
    
  .intro_quote #author{
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
}
  
.txt_intro {
    font-weight:bold;
    text-align: justify;
}
  
.profil {
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
.profil a {
    color: rgb(255, 255, 255);
    margin:5px;
}
  
  .profil a:hover {
    color:rgb(0,128,255);
}
  
/* END INTRO*/
  
section:nth-of-type(even) {
    background :rgba(255,255,255 0.1);
}
  
section:nth-of-type(even)  .arrow_next a  {
    color: rgba(0, 0, 0,0.6);
}
  
section:nth-of-type(odd) {
    /*background : rgb(0, 0, 0); */
    color : rgb(255,255,255);
    background: rgb(75, 70, 70);
}
  
section:nth-of-type(odd)  .arrow_next a {
    color : rgb(255,255,255);
}

/*  BEGIN BACKGROUND TIMELINE */
.timeline {
    position:relative;
    display: flex;
    width:80%;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
  
.timeline > div {
  margin: 5px;
  padding: 5px;
  width:calc(100% / 6);
  text-align:center;
}
  
.education {
    align-self: flex-end
}

.job {
   align-self: flex-start;
}
  
#dates  {
  background: linear-gradient(to bottom,  rgb(255,255,255,0) 45%, rgb(0,128,255) 50%, rgba(255,255,255,0) 55%);
}     
  
  
.date {
    border-style:solid;
    border-color: rgb(0,128,255);
    background-color : rgb(255,255,255);
    box-shadow : 0 0 7px rgb(0,128,255);
    margin: 0 auto;
    width:10px;
    height:10px;
    border-radius:50%;
    color: rgb(0,128,255);
    z-index: 0;
}

.date:after {
    content:attr(data-date);
    display:inline-block;
    position:relative;
    top:0%;
    left:-100%;
    font-weight:bold;
    color: rgb(0,128,255);
}
  
.education:hover .title, .job:hover .title {
    transform:scale(1.2,1.2);
}

.education:hover .info {
    display:inline-block;
    top: 0%;
    transform: translateX(50%);    
}
  
.job:hover .info {
    display:inline-block;
    top: 0%;
    transform: translateX(-150%);
}
  
.education .title, .job .title, .info .subtitle {
    font-weight:bold;
    margin:10px 0 5px 0;
}
  
.education .title:after {
    font-family: FontAwesome;
    white-space: pre;
    content: "\A\f19d";
}
  
.job .title:before {
    font-family: FontAwesome;
    content: "\f2bb\A";
    white-space: pre;
}
  
.info {
    display:none;
    position:absolute;
    padding:5px;
    background: rgb(255,255,255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    border-radius:5px;
    left:auto;
    width:calc(100% / 6);
    color:rgb(75, 70, 70) ; 
    z-index: 1 ;    
}
  
.info:before {
    font-family: FontAwesome;
    font-size:2em;
    content: "\f05a\A";
    white-space: pre;
    color:rgb(0,128,255);
}
  
/* END BACKGROUND TIMELINE */

/* BEGIN ACHIEVEMENTS  */
.achievementsContainer, .projectContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
  
.achievements, .projectSubject {
    position: relative;
    width:33%;
    height:auto;
    margin: 10px;
    padding : 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.9);
    border-radius:5px;
}

.achievements ul {
    list-style-type:none;
    display: inline; 
}

.achievements .title {
    list-style-type:none;
    display: inline-block; 
}

.achievements .Title::before {
    font-family: FontAwesome;
    color:rgb(0,128,255);
    display: inline-block;
    padding: 0 5px 0 5px ;
}

.achievements li:hover .Title {
    color:rgb(0,128,255);
    cursor: pointer;
    transition: 0ms;
}

.achievements  .Title::before {
  opacity:0.3;
}

.achievements .achievement .Title::before {
    content: "\f058";
}

.achievements .activity .Title::before {
    content: "\f164";
}

.achievements .skill .Title::before {
    content: "\f0ad";
}

.achievements .Detail {
    display:none;
}

#achievementDetails {
    border-style: none;
    box-shadow: none;
    text-align: center;
    margin : 0 10px 0 10px;
    padding: 0;
    height:100%;
    display: none;
    left:100%;
}

#achievementDetails #Title {
    font-size: 20px;
    text-align: center;
    font-style: italic; 
}

#achievementDetails #Detail {
    text-align: justify;
    line-height: 1em;
}


#achievementDetails #Detail li::before{
    font-family: FontAwesome;
    content: "\f0a3";
}

.arrow_down {
    width: 0; 
    height: 0; 
    margin: 0;
    padding: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(0,128,255);
    display: inline-block;
}

#achievementDetailsLine {
    height: 2px; 
    margin : 0 10px 0 10px;
    border:0;
    background-image: linear-gradient(to right, rgba(0,128,255,0.2), rgb(0,128,255),rgba(0,128,255,0.2));
}

/* END ACHIEVEMENTS  */
  
