.slideshowContainer * {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .slideshowContainer {
    position: relative;
    height : 400px;
    width:70%;
    max-width: 800px;
    border-style: solid;
    border-color: red;
}

.imageContainer {
    border-style: double;
    border-color: blue;
    height:100%;
    width:100%;
}
  
  /* Hide the images by default */
  .slideshowImage {
    display: none;
    position: absolute;
    border-style: dashed;
    max-width:100%;
    max-height:100%;
  }

  .slideshowImage  img {
    width:fit-content;
    height:fit-content;
  }

  
  /* Add a pointer when hovering over the thumbnail images */
  .slideshowThumbnail {
    cursor: pointer;
    width:100%;
    opacity: 0.6;
    height:100%;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Container for image text */
  .descriptionContainer {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .slideshowRow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Twelve columns side by side */
  .slideShowCol {
    float: left;
    width: calc(100% / 12);
    height:100px;
    max-height: 100px;
  }
  
  
  .active,
  .slideshowThumbnail:hover {
    opacity: 1;
  }

  .imageCategory {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }